<!-- Duty Pass -->
<div class="card" style="width:600px;border: 1px solid black;background-color:lightblue;">

    <div class="card-header">
        <div class="row">
            <div class="col-12" style="text-align: center;">
                <h4 class="card-title">VALID WITH ID</h4>
                <div class="col-5" style="margin-left: 160px;">
                    <h4 class="card-title" style="background-color:black;color:lightblue;">DUTY PASS</h4>
                </div>

            </div>

        </div>
    </div>
    <div class="card-body" *ngFor="let item of passData">

        <div class="row mb-3">
            <div class="col-2">
                <b>Sr.No:  </b>
            </div>
            <div style="border-bottom:1px solid black;" class="col-10">

            </div>


        </div>
        <div class="row mb-3">

            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <b>Place: </b>
                    </div>
                    <div style="border-bottom:1px solid black;" class="col-10">

                    </div>
                </div>
            </div>

        </div>

        <div class="row mb-3">
            <div class="col-12">
                <div class="row">
                    <div class="col-3">
                        <b>Valid from: </b>
                    </div>
                    <div style="border-bottom:1px solid black;" class="col-9">

                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <b>Name: </b>
                    </div>
                    <div style="border-bottom:1px solid black;" class="col-10">

                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">

            <div class="col-2"></div>
            <div class="col-3 mr-5" style="border: 1px solid black;">

            </div>

            <div class="col-6">
                <div class="row mb-4 mt-3">
                    <div class="col-3">
                        <b>Rank: </b>
                    </div>
                    <div style="border-bottom:1px solid black;" class="col-9">

                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-3">
                        <b>DPT: </b>
                    </div>
                    <div style="border-bottom:1px solid black;" class="col-9">

                    </div>
                </div>
                <div class="row mb-4 mt-2">

                    DCP S. B NAGPUR CITY

                </div>
            </div>
        </div>



    </div>
</div>




<!-- Security Pass -->

<div class="card" style="width:600px;border: 1px solid black;background-color:#f6e58d;">

    <div class="card-header">
        <div class="row">
            <div class="col-12" style="text-align: center;">
                <div class="col-5" style="margin-left: 160px;">
                    <h4 class="card-title" style="background-color:black;color:#f6e58d;">SECURITY PASS</h4>
                </div>

            </div>

        </div>
    </div>
    <div class="card-body" *ngFor="let item of passData">

        <div class="row mb-3">
            <div class="col-2">
                <b>Sr.No:  </b>
            </div>
            <div style="border-bottom:1px solid black;" class="col-10">

            </div>


        </div>
        <div class="row mb-3">

            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <b>Place: </b>
                    </div>
                    <div style="border-bottom:1px solid black;" class="col-10">

                    </div>
                </div>
            </div>

        </div>

        <div class="row mb-3">
            <div class="col-12">
                <div class="row">
                    <div class="col-3">
                        <b>Valid from: </b>
                    </div>
                    <div style="border-bottom:1px solid black;" class="col-9">

                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <b>Name: </b>
                    </div>
                    <div style="border-bottom:1px solid black;" class="col-10">

                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">

            <div class="col-2"></div>
            <div class="col-3 mr-5" style="border: 1px solid black;">

            </div>

            <div class="col-6">
                <div class="row mb-4 mt-3">
                    <div class="col-3">
                        <b>Rank: </b>
                    </div>
                    <div style="border-bottom:1px solid black;" class="col-9">

                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-3">
                        <b>DPT: </b>
                    </div>
                    <div style="border-bottom:1px solid black;" class="col-9">

                    </div>
                </div>
                <div class="row mb-4 mt-2">

                    DCP S. B NAGPUR CITY

                </div>
            </div>
        </div>



    </div>
</div>